<%= render 'shared/content_title', title: "Login" %>

<div class= "well">

  <%= form_tag '/login' %>
  <%= render 'shared/errors', obj: @authorization unless @authorization.nil? %>
  <div class="control-group">
    <%= label_tag 'Username' %>
    <%= text_field_tag :username, (params[:username] or '') %>
  </div>
  <div class="control-group">
    <%= label_tag 'Password' %>
    <%= password_field_tag :password, (params[:password] or '') %>
  </div>
  
  <br/>
  <%= submit_tag "Login", class: "btn btn-primary" %>
  <br/>
  or: <br/>
  <%= link_to "Connect With Facebook", "/auth/facebook", class: 'btn btn-primary' %>
</div>

