<div class="row">
  <div class="span0 well text-center">
      <% if logged_in? %>
        <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post' do %>
          <i class="icon-arrow-up"></i>
        <% end %><br/>
      <% end %>
      <strong><%= comment.total_votes %> vote<%= "s" unless comment.total_votes == 1 %></strong>
      <br/>
      <% if logged_in? %>
        <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post' do %> 
          <i class="icon-arrow-down"></i>
        <% end %>
      <% end %>
    </div>
    
  <div class='span8 well'>
    <em><%= comment.body %></em>
    <% if show_post %>
    on <%= link_to comment.post.title, comment.post %>
    <% end %>
    <br/>
    <%= render 'shared/user_time_info', user: comment.creator, created_at: comment.created_at %>
  </div>
</div>