
  <div class="row">
    <div class='span8 well'>
      <p><%= render post.categories %></p>
      <h4><%= link_to(post.title, format_url(post.url), target: '_blank') %></h4>
      <p><%= post.description %></p>
      <%= render 'shared/user_time_info', user: post.creator, created_at: post.created_at %>
      <small>
        <span><%= link_to("#{post.comments.size} comments", post_path(post)) %></span>
      </small>
    </div>
  </div>
