<p><%= render @post.categories %></p>
<%= render 'shared/content_title', title: link_to(@post.title, format_url(@post.url), target: '_blank') %>
<p><%= @post.description %></p>
<%= render 'shared/user_time_info', user: @post.creator, created_at: @post.created_at %>
<%= link_to 'Edit post', edit_post_path %>
<hr/>

Leave a comment:
<%= form_for [@post, @comment] do |f|%>
  <%= f.text_area :body %>
  <br/>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
		
<br/>
<h5>Comments</h5>
<div class="row">
  <div class='span8 well'>
    <% @post.comments.each do |comment| %>
      <em><%= comment.body %></em>
      <br/>
      <%= render 'shared/user_time_info', user: comment.creator, created_at: comment.created_at %>
    <% end %>
  </div>
</div>
	
