<p><%= render @post.categories %></p>
<%= render 'shared/content_title', title: link_to(@post.title, @post.url, target: '_blank') %>
<p><%= @post.description %></p>
<%= render 'post_info', post: @post %>
<%= link_to 'Edit post', edit_post_path %>
		

	
